<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" >
</head>
<body>
<h1>welcome to sams blog </h1>

<a href="{{ url_for('make_post') }}" >make post</a>
<a href="{{ url_for('create_user') }}" >create user </a>
{% for post in posts %}
<h1>{{post.title}}</h1>
<h2>{{post.author}}</h2>
<p>{{post.post}}</p>
<h5>{{post.date}}</h5>
<input type="hidden" placeholder="{{ post.id }}" class="id" name="id">
<a href="{{url_for('view_post',id=post.id)}}"></a>
{%  endfor %}
</body>
</html>